APP_ENV=local

APP_IMAGE_VERSION=latest

CONTAINER_NAME=lili
HTTP_PORT=8080
HTTPS_PORT=4433
PHPMYADMIN_PORT=8081
FORWARD_REDIS_PORT=6379
UID=1000
GID=1000


DB_DATABASE=${CONTAINER_NAME}
DB_USERNAME=${CONTAINER_NAME}_user
DB_PASSWORD=${CONTAINER_NAME}_password


S3_BACKUP_STORAGE_ENDPOINT=
S3_BACKUP_STORAGE_BUCKET=
S3_BACKUP_STORAGE_ACCESS_KEY=
S3_BACKUP_STORAGE_SECRET_KEY=

DATABASE_BACKUP_RETENTION=10
FILES_BACKUP_RETENTION=10
